<!DOCTYPE html>
<html>
	<head>
		<title>What I do</title>
		<nav>
			<ul class="flex justify-between items-center list-none p-5 mb-4">
				<li><a href="/who-i-am">Who I Am</a></li>
				<li><a href="/what-i-do">What I Do</a></li>
				<li><a href="/my-work">My Work</a></li>
				<li><a href="/contact">Contact Me</a></li>
			</ul>
		</nav>
		<link href="/output.css" rel="stylesheet">
	</head>
	<body class="m-4">
		
			<div class="w-1/2 ml-auto mr-[100px]">
				<h1 class="text-right">What I do</h1>
				<p class="text-justify">My new task became how to merge two loves, the rustic style of the Adirondacks and horses. Living in the midst of horse country gave me endless subjects to photograph but was still loyal to the rustic style. My pieces are the marriage of these two beautiful elements. While my horse pieces are less adirondack style they are still rustic in composition. My landscapes incorporate more of the adirondack style. My photographs, which are infused into high grade aluminum, are one with their frames, a single piece of art, not to be separated. Each piece is unique in the materials used, some more rustic than others. I hope that as you view these works you experience the sense of calm and serenity that I did as I set out on each creative journey.</p>
			</div>	
		
		
			
		
	</body>
</html>
